﻿/*
Theme Name: Abraço
Theme URI: http://abracei.com.br/
Description: Template WordPress para o site Abracei, baseado em Bootstrap
Author: Alan Niemies
Author URI: http://abracei.com.br/
Version: 1.0.0
*/

@import url('bootstrap/css/bootstrap.css');
.woocommerce-page ul.products li.first {clear: none !important;}
body {
	padding-top: 165px;
	font-size:16px !important;
	font-family:'Open Sans',Helvetica,Arial,sans-serif !important;
	color:#707070 !important;
}
body.admin-bar {
	padding-top: 140px;
}

body.page-template-template-novomapa {
	padding-top: 150px;
}
body.admin-bar.page-template-template-novomapa {
	padding-top: 118px;
}

p {margin:0 0 15px !important;}

/* Tipografia */
h1,h2,h3,h4,h5,h6 {font-family:'Open Sans',Helvetica,Arial,sans-serif !important;font-weight:300 !important;}
h2 {font-size:28px !important;line-height:35px;}

#wrap {overflow:hidden;}
/* Header */
.navbar {border:none !important;margin-bottom:0 !important;}
.navbar .navbar-inner {background:#ED3237;border:none;text-align:center;padding:10px 0;}
.menor .navbar-inner {z-index: 10;}
a.brand {width:100%;}
/* Smooth Header */
header.menor .navbar {
	height:95px;
    -webkit-transition: height 0.3s;
    -moz-transition: height 0.3s;
    -ms-transition: height 0.3s;
    -o-transition: height 0.3s;
    transition: height 0.3s;
}
header.menor .navbar a.brand img {
	width:230px;
	height:75px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.btn {display:none !important;}

/* Topo */
.topo {background-image:url('//abracei.com.br/wp-content/uploads/2016/04/mapa-de-raspar.jpg');
	min-height:90%;
}
.topo .texto {
	padding:30px 15px 15px 15px;
	margin:10% 0;
	background-color:rgba(255,255,255,0.7);
	border-radius:3px;
	text-align:center;
	min-width:286px;
}
.page-template-template-novomapa .topo .texto {
	float: left;
}
.texto p {
    color: #33aac8;
    font-size: 40px;
	line-height:40px;
    font-weight: bold;
	margin-bottom:0;
}
.page-template-template-novomapa .novomapa .texto {
	float: left;
}
.unidade {margin-bottom:20px;}
.texto img {margin-bottom:15px;}

/* Frase */
.link { /* Offset Header no link interno */
  display: block;
  height: 115px; /*same height as header*/
  margin-top: -115px; /*same height as header*/
  visibility: hidden;
}
.frase {background-color:#33aac8;color:#fff;text-align:center;}
.frase h2 {margin-top:0;margin-bottom:30px;line-height:40px;}

/* Video + Texto 
.video-texto .container {display:flex;align-items:center;}*/
.row.video-texto {padding-top:45px;}
.video-texto h2 {color:#ed1c24;text-align:center;}

/* Botões */
.botoes {text-align:center; padding:45px 0;}
.botoes .col-sm-4 .caixa-padding {padding:0 15px;box-shadow:0 5px 0 #008d97;color:#fff;background-color:#33aac8;}
.botoes i.fa-icones {font-size:5em;transform:translate(-50%,-50%);left:50%;position:absolute;color:#ED3237;}
.botoes h2 {padding:50px 0 25px;}

/* Detalhes */
.row.detalhes {padding-top:10px;}
.detalhes {background-color:#33aac8;}
.detalhes .col-sm-6 {padding-bottom:20px;}
.detalhes h2, .detalhes p, .detalhes ul li {color:#fff;}
.detalhes h2 {margin-bottom:30px;text-align:center;}
.detalhes ul.dados {
    padding: 25px 30px;
    background-color: #2991d6;
	margin-left:0;
}
.detalhes ul.dados li {border-bottom:1px solid rgba(255,255,255,.1);list-style:none;padding:13px 0 13px 45px;background:url('//abracei.com.br/wp-content/themes/abraco/images/list_check.png') no-repeat left;}
.detalhes ul.dados li:last-child {border:0;}
.detalhes p.comprar {text-align:center;}

/* Social */
.facebook {background-image:url('//abracei.com.br/wp-content/uploads/2016/04/fundo-globo.jpg');background-size:100%;padding:30px 0;}

/* Rodapé */
footer {color:#fff;font-size:14px;}
#footer {background-color:#535353;}
#footer .container {padding:10px 0 20px 0;}
#footer a, #footer .textwidget {color:#c4c4c4;font-size:13px;}
#footer a:hover {color:#fff;}
#footer h3 {font-size:15px;}
.direitos {
    font-size: 13px;
    background-color: #323232;
    padding: 20px 0 10px;
}

/* WooCommerce */
.woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button, .woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt {background-color:#ed1c24 !important; color:#fff !important;}
.woocommerce #respond input#submit:hover, .woocommerce a.button:hover, .woocommerce button.button:hover, .woocommerce input.button:hover, .woocommerce #respond input#submit.alt:hover, .woocommerce a.button.alt:hover, .woocommerce button.button.alt:hover, .woocommerce input.button.alt:hover {background-color:#CD101A !important; color:#fff !important;}
.woocommerce table.shop_table td {padding:15px 10px;}

/* Hack Página de Checkout */
.woocommerce .blockUI.blockOverlay {
  position: relative!important;
  display: none!important;
}

/* Pagar.me Checkout */
#pagarme-installments {
    font-size: 15px !important;
    padding: 5px !important;
}
#pagarme-card-holder-name, #pagarme-card-cvc, #pagarme-card-number, #pagarme-card-expiry {font-size:15px !important;padding:8px !important;}

/* Formulários */
#wc-correios-simulator #zipcode, select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
	height:35px !important;
	border-radius:0;
	padding:3px 10px !important;
	box-shadow:none !important;
	-webkit-box-shadow: none !important;
	border:1px solid #A9A9A9 !important;
}
/* Responsive Fix */
@media screen and (max-width:767px) {
	.texto a.vermais {width:100%;float:left;}
	.video-texto .container {display:block !important;}
	.row.video-texto {padding-top:0;}
	.page-template-template-novomapa .novomapa .texto {float: none;}
	
}
@media screen and (min-width:992px) {
	.video-texto h2 {margin-top:90px;}
}

/* Carrossel de imagens */
.woocommerce-images {margin-bottom:30px;}

/* Mini Geladeira */
.topo.geladeira {background-image:url('//abracei.com.br/wp-content/uploads/2016/04/Cofre-Mini-Geladeirinha.jpg');min-height:1273px;}
.video-texto.geladeira h2 {margin-top:50px;}
.row.video-texto.geladeira {padding-top:0;}
h1 {
    margin: 0 !important;
    padding: 20px 0;
    text-align: center;
    background-color: #33aac8;
    color: #fff !important;
}

/* Páginas */
body.page-template-default h1 {margin-bottom:30px !important;}

/* Formulário de Contato */
div[role="form"].wpcf7 {max-width:362px;margin:0 auto;}
.wpcf7 textarea[name="mensagem"] {min-height:150px;}
.wpcf7 input[type="submit"] {color:#fff;font-size:20px;background-color:#33aac8;border:none;padding:10px 0;width:100%;}
.wpcf7 input[type="submit"]:hover {background-color:#298aa3;}

/* WOOCOMMERCE */

/* Home */
.slider {margin-bottom:20px;}
.woocommerce-ordering {font-size:12px;}
.woocommerce-result-count {display:none; /* TEMPORARIO */}

/* Single Produtos */
body.single-product .product p {font-size:17px;font-weight:300;}

.woocommerce div.product div.summary {
    background-color: #f3f3f3;
    padding: 20px 30px 0 30px;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li {margin:0 1px !important;}
body.single-product .product {margin-top:20px;}
.woocommerce div.product .woocommerce-tabs ul.tabs li:before, .woocommerce div.product .woocommerce-tabs ul.tabs li:after {left:0 !important; border-bottom-right-radius:0 !important; border-width:0 !important; content:none !important;}
.woocommerce div.product .product_title {padding:10px 0 !important;margin-bottom:20px !important;}
span.amount {
    color: #33aac8;
    font-size: 40px;
    line-height: 40px;
    font-weight: bold;
    margin-bottom: 0;
}
.woocommerce div.product .stock, span.sku_wrapper {display:none;}
div[itemprop="offers"] {float:left;width:100%;}
.woocommerce div.product form.cart {float:left;width:100%;}
div[itemprop="description"] {width:100%;float:left;text-align:justify;}

#wc-correios-simulator {
	width:100%;
	background: #ebebeb url('//abracei.com.br/wp-content/themes/abraco/images/icone-frete.png') 15px center no-repeat;
    width: 100%;
    padding: 10px 0 10px 70px;
    border-radius: 10px;
	margin-bottom:20px;
	margin-top:10px !important;
}
#wc-correios-simulator strong {float:left; width:100%;font-weight:400;}
#wc-correios-simulator p {display:none;}
#wc-correios-simulator form {float:left;}

.posted_in, .tagged_as {float:left;width:100%;font-size:13px;}
.tagged_as {margin-bottom:30px;}

.woocommerce div.product form[method="post"].cart {margin-bottom:0 !important;}
#wc-correios-simulator form.cart {border-bottom:none;padding-bottom:0 !important;margin-bottom:0 !important;}

body.single-product span.amount {font-weight:300;}

/* WishList */
body.single-product span.amount, body.woocommerce-wishlist span.amount {font-weight:300;}
body.woocommerce-wishlist .product-price ins {text-decoration: none;}
body.woocommerce-wishlist .product-price del {}
body.woocommerce-wishlist .product-price del .amount {color: #ed3237; font-size: 25px;}
body.woocommerce-wishlist .product-price ins .amount {font-size: 40px;}
body.woocommerce-wishlist td.product-price del {color:#ed3237 !important;} 
.yith-wcwl-share ul li a.facebook {padding: 0;}
.woocommerce table.wishlist_table tr td.product-remove {padding: 16px 12px !important;}

.woocommerce button[type="submit"].single_add_to_cart_button {background-color:transparent !important; background-image:url('//abracei.com.br/wp-content/uploads/2016/04/comprar-botao.png') !important; background-repeat:no-repeat;color:transparent !important;height:72px;width:228px;}
.woocommerce button[type="submit"].single_add_to_cart_button:hover {background-color:transparent !important;}
.woocommerce div.product form.cart div.quantity {float:none !important;}

table.variations td.label label, span.quantidade {float:left;line-height:35px;margin-right:10px;font-weight:400 !important;font-size:17px;color:#33aac8 !important;}
.quantity {margin-bottom:15px !important;}

.product_meta {float:left;margin:15px 0;}

/* Review */
.woocommerce #review_form #respond textarea {min-height:200px;}
p.comment-form-rating {padding-top:20px;}
.woocommerce p.stars a {font-size:35px;margin-right:5px;}

/* Tabs */
.woocommerce div.product .woocommerce-tabs ul.tabs {margin-bottom:0 !important;}
.woocommerce div.product .woocommerce-tabs ul.tabs li {background-color:#33aac8 !important;border:none !important;}
.woocommerce div.product .woocommerce-tabs ul.tabs li a {color:#fff !important;;font-weight:300 !important;}
.woocommerce div.product .woocommerce-tabs ul.tabs:before {border-bottom:1px solid #33aac8 !important;}
.shop_attributes p {margin-bottom:0 !important;}

.woocommerce div.product .woocommerce-tabs .panel {
    border: 1px solid #33aac8 !important;
    border-top: none;
    border-radius: 0 !important;
    padding: 0 20px !important;
}
.woocommerce table.shop_attributes {margin-top:10px;border-top:0 !important;}
.woocommerce table.shop_attributes th, .woocommerce table.shop_attributes td {font-weight:300 !important;}
.woocommerce table.shop_attributes, .woocommerce table.shop_attributes p {font-size:13px;}

/* Chat */
.mylivechat_offline_logo {display:none;}

/* Preço Promocional */
.woocommerce ul.products li.product .onsale {
	left: 0 !important;
	right: auto !important;
}
.woocommerce span.onsale {
	background-color: #707070 !important;
	font-size: 20px !important;
	line-height: 30px !important;
	min-height:0 !important;
	min-width: 0 !important;
	margin-top: 10px !important;
	border-radius: 0 !important;
	z-index: 9;
}
body.single-product span.onsale {
	position: absolute;
    top: 90px;
    left: 0px;
}
p.price del, p.price del span.amount, span.price del, span.price del span.amount {font-size:25px;color:#ed3237 !important;opacity:1 !important;}
p.price ins {color:transparent !important;width:100%;float:left;}
span.price ins {color:transparent !important;}

/* Variações de Produtos */
table.variations td.label {color:#707070;float:left;text-align:left;}
table.variations td.value {max-width:160px;float:left;}
table.variations tr {float:left;}
.woocommerce div.product form.cart a.reset_variations {display:none !important;}
.woocommerce button.button.alt:hover {color:transparent !important;}
.woocommerce div.product form.cart .variations {margin-bottom:0 !important;}
table.variations td.label label {margin-right:0;}
form.cart {margin-top:1em;}

/* Design Responsivo */
@media screen and (min-width:1200px) {
	.woocommerce button[type="submit"].single_add_to_cart_button {
    float: right !important;
    margin-top: -100px;
    margin-right: 40px;
}
}

/* Price */
.products .product .product-details {
    	position: absolute;
    	background: #ed3237;
    	top: 0;
    	left: 0;
    	right: 0;
    	bottom: 0;
    	color: #f7f7f7;
    	padding: 1.618em;
		padding-top: 50px;
    	text-align: left;
   	opacity: 0;
   	height: 252px;
   	filter: alpha(opacity=@opacity * 100);	
	-webkit-transition: all ease 0.4s;
	-moz-transition: all ease 0.4s;
   	-ms-transition: all ease 0.4s;
    	-o-transition: all ease 0.4s;
    	transition: all ease 0.4s;
  }
ul.products li.product .product-details span.amount {
	color:#fff;
}
ul.products li.product:hover .product-details, ul.products li.product:hover a.add_to_cart_button {
	filter: alpha(opacity=@opacity * 100);
	opacity: 0.8;
}
ul.products li.product .product-details span.price del span.amount {color:#fff !important;font-weight:300;}

ul.products li.product a img:hover {
	opacity: 0.8;
}

a.button.ajax_add_to_cart, a.button.ajax_add_to_cart, a.button.product_type_variable.add_to_cart_button {
    background: url('//abracei.com.br/wp-content/themes/abraco/images/comprar-botao-menor.png') no-repeat !important;
    width: 175px;
	max-width:100%;
    height: 55px;
    font-size: 0px !important;
}

.woocommerce ul.products li.product, .woocommerce-page ul.products li.product {text-align:center;}
.woocommerce ul.products li.product a img {margin-bottom:1em !important;}
ul.products a.button.ajax_add_to_cart:hover, ul.products a.button.ajax_add_to_cart:hover, ul.products a.button.product_type_variable.add_to_cart_button:hover {background-color:#fff !important;}

/* Loop de Produtos (Home/Shop/Categorias) */
.products .product .product-details {height:calc(100% - 71px) !important}

@media screen and (min-width:769px) {
	body.post-type-archive-product .woocommerce ul.products li.product, .woocommerce-page ul.products li.product {width:29.5% !important;}
}
@media screen and (min-width:392px) and (max-width:768px) {
	body.post-type-archive-product .woocommerce ul.products li.product, .woocommerce-page ul.products li.product {width:48% !important;}
	
}
@media screen and (max-width:391px) {
	body.post-type-archive-product .woocommerce ul.products li.product, .woocommerce-page ul.products li.product {width:100% !important;}
}




/* Novo Mapa */

.hero {
	background-image: url('//abracei.com.br/wp-content/themes/abraco/images/mapa-abracei-3.jpg');
	background-size: cover;
	padding-top: 40px;
}
.novomapa .texto {
    margin: 0 auto;
    max-width: 286px;
    text-align: center;
	background-color: rgba(255,255,255,0.7);
    padding: 30px 15px 15px 15px;
}
.novomapa .texto del {
    color: #333;
    font-size: 80%;
}
.novomapa .hero h1 {
	font-size: 51px;
	background-color: none !important;
	color:rgba(51,170,200,0.9);
}
.novomapa .hero h3 {
	color: #fff;
	margin: 0;
    padding: 20px 50px 20px 50px;
    background-color: rgba(96,191,215,0.9);
    text-align: center;
    line-height: 35px;
}
.row.imagens {
	padding-top: 25px;
}
.novomapa .botoes {
	padding: 20px 0 30px 0;
}
.novomapa .especificacoes {
	width: 540px;
	float: right;
}
.novomapa .detalhes {
	background-color: #fff;
	padding-top: 50px;
	border-top: 1px solid #e1e1e1;
}
.novomapa .detalhes h2 {
	color: #33aac8;
}
.descricao {
	background-color:rgba(96,191,215,0.9);
	padding: 30px;
	margin-top: 40px;
}
.descricao h3 {
	margin: 0;
	color: #fff;
	padding-top: 30px;
}
.descricao h3:first-of-type {
	padding-top: 0px;
}
.row.facebook .container .col-sm-4 {
	float: none;
	margin: 0 auto;
}

@media screen and (max-width:991px) {
	.especificacoes {float:none !important; margin: 0 auto;}
}
@media screen and (min-width: 1200px) {
	.woocommerce .single_variation_wrap button[type="submit"].single_add_to_cart_button {
		margin-right: 0 !important;
	}
}

/* Mapa do Brasil */

.page-id-1913 .hero {
	background-image: url('//abracei.com.br/wp-content/uploads/2016/12/Mapa-do-Brasil-Hero.jpg');
}


/* Sorteio */
#wpcf7-f1067-p1064-o1 {
padding: 10px 15px;
background-color: rgba(255,255,255,.8);
}
#wpcf7-f1067-p1064-o1 input.wpcf7-form-control.wpcf7-text.wpcf7-validates-as-required {
max-width: 100%;
margin-top: 5px;
}
#wpcf7-f1067-p1064-o1 .texto p {
color: #333;
}


/* Starter CSS for Menu */
#cssmenu {
  padding: 0;
  margin: 0;
  border: 0;
  width: auto;
}
#cssmenu ul,
#cssmenu li {
  list-style: none;
  margin: 0;
  padding: 0;
}
#cssmenu ul {
  position: relative;
  z-index: 597;
}
#cssmenu ul li {
  float: left;
  min-height: 1px;
  vertical-align: middle;
}
#cssmenu ul li.hover,
#cssmenu ul li:hover {
  position: relative;
  z-index: 599;
  cursor: default;
}
#cssmenu ul ul {
  visibility: hidden;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 598;
  width: 100%;
}
#cssmenu ul ul li {
  float: none;
}
#cssmenu ul ul ul {
  top: 0;
  left: 190px;
  width: 190px;
}
#cssmenu ul li:hover > ul {
  visibility: visible;
}
#cssmenu ul ul {
  bottom: 0;
  left: 0;
}
#cssmenu ul ul {
  margin-top: 0;
}
#cssmenu ul ul li {
  font-weight: normal;
}
#cssmenu a {
  display: block;
  line-height: 1em;
  text-decoration: none;
}
/* Custom CSS Styles */
.menu-container {
    width: 100%;
    position: fixed;
    top: 120px;
    left: 0;
	background:#535353;
	border-bottom: 4px solid #D91318;
	z-index: 10;

}
header.menor .menu-container {
	top: 95px;
}
#cssmenu {  
  font-family: 'Open Sans', Tahoma, Arial, sans-serif;
  font-size: 12px;
}
#cssmenu > ul {
  *display: inline-block;
}
#cssmenu:after,
#cssmenu ul:after {
  content: '';
  display: block;
  clear: both;
}
#cssmenu ul {
  text-transform: uppercase;
}
#cssmenu ul ul {
  border-top: 4px solid #D91318;
  text-transform: none;
  min-width: 190px;
}
#cssmenu ul ul a {
  background: #D91318;
  color: #ffffff;
  border: 1px solid #BD1115;
  border-top: 0 none;
  line-height: 150%;
  padding: 16px 20px;
  font-size: 12px;
}
#cssmenu ul ul li:hover a {
	border: 1px solid #404040;
}
#cssmenu ul ul ul {
  border-top: 0 none;
}
#cssmenu ul ul li {
  position: relative;
}
#cssmenu ul ul li:first-child > a {
  border-top: 1px solid #BD1115;
}
#cssmenu ul ul li:hover > a {
  background: #535353;
  color: #ffffff;
  border-top: 1px solid #535353;
}

#cssmenu ul ul li:last-child:hover > a {
  -moz-border-radius: 0 0 0 3px;
  -webkit-border-radius: 0 0 0 3px;
  border-radius: 0 0 0 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
#cssmenu ul ul li.has-sub > a:after {
  content: '+';
  position: absolute;
  top: 50%;
  right: 15px;
  margin-top: -8px;
}
#cssmenu ul li:hover > a,
#cssmenu ul li.active > a {
  background: #D91318;
  color: #ffffff;
}
#cssmenu ul li.has-sub > a:after {
  content: '+';
  margin-left: 5px;
}
#cssmenu ul li.last ul {
  left: auto;
  right: 0;
}
#cssmenu ul li.last ul ul {
  left: auto;
  right: 99.5%;
}
#cssmenu a {
  color: #fff;
  padding: 0 20px;
}
#cssmenu > ul > li > a {
  line-height: 48px;
  font-size: 13px;
}
#cssmenu .wpmenucart-order-item-info span.amount, li.wpmenucartli a.wpmenucart-contents span.amount {
	color: #fff;
	font-size: 14px;
}
#cssmenu ul .wpmenucartli ul {
	min-width: 220px;
}
#cssmenu .wpmenucart-icon-shopping-cart-0:before {
	font-size: 20px;
    line-height: 20px;
    vertical-align: middle;
    margin-right: 10px;
}

@media all and (min-width: 1025px) {
	#cssmenu #menu-button {
		display: none;
	}
}
@media all and (max-width: 800px), only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min--moz-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (-o-min-device-pixel-ratio: 2/1) and (max-width: 1024px), only screen and (min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min-resolution: 192dpi) and (max-width: 1024px), only screen and (min-resolution: 2dppx) and (max-width: 1024px) {
  #cssmenu > ul {
    max-height: 0;
    overflow: hidden;
    -webkit-transition: max-height 0.35s ease-out;
    -moz-transition: max-height 0.35s ease-out;
    -ms-transition: max-height 0.35s ease-out;
    -o-transition: max-height 0.35s ease-out;
    transition: max-height 0.35s ease-out;
  }
  #cssmenu > ul > li > ul {
    width: 100%;
    display: block;
  }
  #cssmenu.align-right ul li a {
    text-align: left;
  }
  #cssmenu > ul > li > ul > li {
    width: 100%;
    display: block;
  }
  #cssmenu.align-right ul ul li a {
    text-align: left;
  }
  #cssmenu > ul > li > ul > li > a {
    width: 100%;
    display: block;
  }
  #cssmenu ul li ul li a {
    width: 100%;
  }
  #cssmenu.align-center > ul {
    text-align: left;
  }
  #cssmenu.align-center > ul > li {
    display: block;
  }
  #cssmenu > ul.open {
    max-height: 1000px;
    border-top: 1px solid rgba(110, 110, 110, 0.25);
	overflow: visible;
  }
  #cssmenu ul {
    width: 100%;
  }
  #cssmenu ul > li {
    float: none;
    width: 100%;
	max-height: 48px;
  }
  #cssmenu ul li a {
	text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    padding: 0;
  }
  #cssmenu ul > li:after {
    display: none;
  }
  #cssmenu ul li.has-sub > a:after,
  #cssmenu ul li.has-sub > a:before,
  #cssmenu ul li ul li.has-sub:after,
  #cssmenu ul li ul li.has-sub:before {
    display: none;
  }
  #cssmenu ul li ul,
  #cssmenu ul li ul li ul,
  #cssmenu ul li ul li:hover > ul,
  #cssmenu.align-right ul li ul,
  #cssmenu.align-right ul li ul li ul,
  #cssmenu.align-right ul li ul li:hover > ul {
    left: 0;
    position: relative;
    right: auto;
  }
  #cssmenu ul li ul li,
  #cssmenu ul li:hover > ul > li {
    max-height: 999px;
    position: relative;
    background: none;
  }
  #cssmenu ul li ul li a {
    padding: 8px 20px 8px 35px;
    color: #ffffff;
  }
  #cssmenu ul li ul ul li a {
    padding: 8px 20px 8px 50px;
  }
  #cssmenu ul li ul li:hover > a {
    color: #000000;
  }
  #cssmenu #menu-button {
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    padding: 15px 20px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    color: #ffffff;
    cursor: pointer;
	text-align: center;
  }
  #cssmenu #menu-button:after {
    display: block;
    content: '';
    position: absolute;
    height: 3px;
    width: 22px;
    border-top: 2px solid #ffffff;
    border-bottom: 2px solid #ffffff;
    right: 20px;
    top: 16px;
  }
  #cssmenu #menu-button:before {
    display: block;
    content: '';
    position: absolute;
    height: 3px;
    width: 22px;
    border-top: 2px solid #ffffff;
    right: 20px;
    top: 26px;
  }
}

/* Prazo Diferenciado Entrega */

#prazo-diferenciado {
	background: #d91318;
	color: #fff;
	padding: 10px 15px;
}
#prazo-diferenciado label {
	color: #fff;
}
input#my_checkbox {
    position: relative;
}
#prazo-diferenciado abbr.required {
    color: #fff;
}