/*
Theme Name: 	Betheme Child
Theme URI: 		http://themes.muffingroup.com/betheme
Author: 		Muffin group
Author URI: 	http://muffingroup.com
Description:	Child Theme for Betheme - Premium WordPress Theme
Template:		betheme
Version: 		1.6
*/

/* Theme customization starts here
-------------------------------------------------------------- */
.top_bar_right {display:none;}
#Top_bar {top:0 !important;background-color:#ED3237 !important;min-height:100px;}
#Top_bar .column {padding:10px 0 !important;}
#Top_bar #logo {padding:0 !important;}
#Top_bar .logo {margin-left:0 !important;}
#Top_bar.is-sticky {background:#ED3237 !important;}
@media only screen and (min-width: 1240px) {
	#Top_bar.is-sticky #logo img:not(.svg) {max-height:70px !important;}
}
#Footer {background-color:#323232 !important;}